---
import '@/styles/global.css';
import MetaHead from '@/layouts/MetaHead.astro';
---

<!doctype html>
  <!-- /*
    ============================================================================
    ||                                                                        ||
    ||               ESTE ES UN TEMPLATE DE BY BARRETO DEV                    ||
    ||                                                                        ||
    ||                 Diseñado con ❤️ por By BARRETO DEV                     ||
    ||           https://github.com/Barreto-dev/template-v6         		    ||
    ||                                                                        ||
    ============================================================================
  */ -->
<html lang="en">
<MetaHead />


	<body>

      <main>
        <slot />
      </main>

	</body>


</html>
